// Theme 1 :

// Backgrounds :

$mian-background-theme-1 : hsl(222, 26%, 31%);
$color-toggle-keybackground-theme-1 : hsl(223, 31%, 20%);
$screen-back-color-theme-1 : hsl(0, 0%, 98%);

//  Keys : 

$key-background-color-theme-1 :  hsl(225, 21%, 49%);
$key-shadow-theme-1: hsl(224, 28%, 35%);;

$key-background-toggle : hsl(6, 63%, 50%);
$key-shadow : hsl(6, 70%, 34%);

$key-background : hsl(30, 25%, 89%);
$key-shadow : hsl(28, 16%, 65%);

// Text :

$Very-dark-grayish-blue: hsl(221, 14%, 31%);
$White: hsl(0, 0%, 100%);

//  Theme 2 :

// Backgrounds :

$main-background : hsl(0, 0%, 90%);
$toggle-background: hsl(0, 5%, 81%);
$screen-background : hsl(0, 0%, 93%);

// Keys

$key-background : hsl(185, 42%, 37%);
$key-shadow : hsl(185, 58%, 25%);

$key-background : hsl(25, 98%, 40%);
$Dark-orange-key-shadow : hsl(25, 99%, 27%);

$key-background : hsl(45, 7%, 89%);
$key-shadow : hsl(35, 11%, 61%);

// Text

$Very-dark-grayish-yellow: hsl(60, 10%, 19%);
$text : hsl(0, 0%, 100%);

// Theme 3 :

// Backgrounds :

$main-background : hsl(268, 75%, 9%);
$toggle-background-keypad-background-screen-background: hsl(268, 71%, 12%);

// Keys :

$key-background : hsl(281, 89%, 26%);
$key-shadow : hsl(285, 91%, 52%);

$key-background-toggle : hsl(176, 100%, 44%);
$key-shadow : hsl(177, 92%, 70%);

$key-background : hsl(268, 47%, 21%);
$key-shadow : hsl(290, 70%, 36%);

// Text :

$Light-yellow: hsl(52, 100%, 62%);
$Very-dark-blue: hsl(198, 20%, 13%);
$text : hsl(0, 0%, 100%);
